<h1>My recipe list</h1>

<ul>
  <% @lists.each do |list| %>

  <div class="album py-5 bg-light">
    <div class="container">
      <h3><%= link_to list.title, list %> </h3>
      <p><%= link_to "Add more to list", recipes_path %></p>
      <p><%= link_to "Delete list", list, :method => 'delete', data: { confirm: "Are you sure?" }%></p>
      <div class="row">
        <% recipes = list.recipes %>
        <% recipes.each do |recipe| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= link_to cl_image_tag(recipe.image, :class => "card-img-top cl_image", :width => "100%", :height => "225px"), recipe%>

              <div class="card-body">
                <p class="card-text"><%= recipe.name %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= button_to "View recipe", recipe, :class => 'btn btn-sm btn-outline-secondary', :method => 'get' %>
                  </div>
                  <small class="text-muted">❤️</small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% end %>
</ul>

<%= button_to "Add more list", new_list_path, :method => 'get', :class => 'btn btn-info btn-lg' %>
