<h1>New List</h1>

<% if flash[:error].present? %>
  <p>
    <%= flash[:error] %>
  </p>
<% end %>

<%= form_for @list do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => 'Fav dessert' %>
  <%= f.submit %>

<% end %>
