<h1>New List</h1>

<% if flash[:error].present? %>
  <p>
    <%= flash[:error] %>
  </p>
<% end %>

<div class="text-center">
  <%= form_for @list do |f|%>
    <%= f.label :title%>
    <%= f.text_field :title, :placeholder => 'Fav dessert', :autofocus => true, class: 'form-control', 'required': true %>
    <br>
    <%= f.submit "Create list", :class => 'btn btn-success btn-lg form-control' %>
  <% end %>
</div>
