
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12 blog-main">

      <div class="blog-post">
        <h1 class="blog-post-title"><%= @recipe.name %></h1>

        <%= form_tag(add_recipe_path, :method => 'post') do %>
          <div class="form-row">
            <div class="col-md-7">
              <p class="blog-post-meta">Created at <%= @recipe.created_at.strftime("%d %b, %Y") %>  by
                <% if @user.name.present? %>
                  <%= link_to @user.name, user_path(@user.id) %>
                <% else %>
                  <%= link_to @user.email, user_path(@user.id) %>
                <% end %>
              </p>
            </div>
            <div class="col-md-3">
              <%= select_tag :list_id, options_for_select(@lists.pluck(:title, :id)), { :class => 'form-control' }  %>
            </div>

          <%= hidden_field_tag :recipe_id, @recipe.id %>
          <%= submit_tag "Add to my list ❤️", { :class => ' btn btn-info btn-sm' }  %>
          </div>
        <% end %>


        <hr>

        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Prep time:</strong> <%= @recipe.prep_time %> <%= @recipe.prep_time_unit %>
            </p>
            <p>
              <strong>Cooking time:</strong> <%= @recipe.cooking_time %> <%= @recipe.cooking_time_unit %>
            </p>
            <p>
              <strong>Difficulty:</strong> <%= @recipe.difficulty %>/10
            </p>
            <p>
              <strong>Course:</strong> <%= @recipe.course %>
            </p>
            <p>
              <strong>Serving: </strong><%= @recipe.serving %>
            </p>
            <% if @recipe.country.present? %>
            <p>
              <strong>Country of Origin:</strong> <%= @recipe.country.name %>
            </p>
            <% end %>

          </div>

          <div class="col-md-6">
          </div>
        </div>
        <hr>
        <h4>
          <strong>Main recipe</strong>
        </h4>
        <p><%= @recipe.content %></p>
      </div>
    </div>
  </div>
</main>

<div class="text-center">
  <% if @recipe.image.present? %>
    <%= cl_image_tag @recipe.image %>
  <% end %>
</div>

<div class="control text-center">
  <p>
      <% if @current_user == @recipe.user %>
        <%= button_to "Edit", edit_recipe_path, :method => 'get', :class => 'btn btn-secondary' %>
    <% end %>
  </p>
  <p>
      <% if @current_user.present? %>
        <% if @current_user == @recipe.user || @current_user.admin? %>
          <%= button_to "Delete", @recipe, :method => 'delete', data: { confirm: "Are you sure?" }, :class => 'btn btn-danger' %>
        <% end %>
      <% end %>
  </p>

</div>

<div class="comment-box">
  <div class="inner-box">
    <h5>Comments</h5>
    <% @recipe.comments.each do |comment| %>
      <p>
        <strong>From: </strong>
        <% if comment.user.image? %>
          <%= cl_image_tag comment.user.image, :class => "profile-pic" %>
        <% end %>
        <%= link_to comment.user.email, user_path(comment.user.id) %>
        <% if comment.user == @recipe.user %>
          <span class="badge badge-secondary">Author</span>
        <% end %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= comment.content %>
      </p>

      <% if @current_user.present? %>
        <% if @current_user == comment.user || @current_user.admin? %>
          <%= button_to "Delete comment", comment, :method => 'delete', data: { confirm: "Are you sure?" }, class: "btn btn-outline-secondary btn-sm"  %>
        <% end %>
      <% end %>
    <% end %>

    <% if @current_user.present? %>
      <h6>Add a comment: </h6>
      <%= form_with model: [@recipe, @recipe.comments.build], local: true do |form| %>
        <p>
          <%= form.text_area :content %>
        </p>
        <p>
          <%= form.submit 'Submit', class: "btn btn-outline-secondary btn-sm" %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>


<h4>Other dishes from the same cuisine</h4>
<div class="row">
  <% @same_country_recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><%= recipe.cooking_time %> <%= recipe.cooking_time_unit %></strong>
          <h3 class="mb-0"><%= recipe.name %></h3>
          <div class="mb-1 text-muted"><%= recipe.created_at.strftime("%d %b, %Y") %></div>
          <%= link_to "View", recipe %>
        </div>
        <div class="col-auto d-none d-lg-block">
          <%= link_to cl_image_tag(recipe.image, :class => "card-img-top cl_image", :width => "100%", :height => "150px"), recipe%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @recipe.course.present? %>
  <h4>Other <%= @recipe.course %> dishes</h4>
  <div class="row">
    <% @same_course_recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><%= recipe.cooking_time %> <%= recipe.cooking_time_unit %></strong>
            <h3 class="mb-0"><%= recipe.name %></h3>
            <div class="mb-1 text-muted"><%= recipe.created_at.strftime("%d %b, %Y") %></div>
            <%= link_to "View", recipe %>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= link_to cl_image_tag(recipe.image, :class => "card-img-top cl_image", :width => "100%", :height => "150px"), recipe%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
