<h1><%= @recipe.name %></h1>
<h2>By <%= link_to @user.name, user_path(@user.id) %></h2>

<p>
  Prep time: <%= @recipe.prep_time %> <%= @recipe.prep_time_unit %>
</p>

<p>
  Cooking time: <%= @recipe.cooking_time %> <%= @recipe.cooking_time_unit %>
</p>

<p>
  Difficulty: <%= @recipe.difficulty %>/10
</p>

<p>
  Course: <%= @recipe.course %>
</p>

<p>
  Serving: <%= @recipe.serving %>
</p>

<% if @recipe.country.present? %>
<p>
  Country of Origin: <%= @recipe.country.name %>
</p>
<% end %>

<% if @recipe.image.present? %>
  <%= image_tag @recipe.image %>
<% end %>

<p>
  Main recipe: <%= @recipe.content %>
</p>


<%= button_to "Edit", edit_recipe_path, :method => 'get' %>
<%= button_to "Delete", @recipe, :method => 'delete', data: { confirm: "Are you sure?" } %>



<h3>Comments</h3>
<% @recipe.comments.each do |comment| %>

  <p>
    <strong>Commenter:</strong>
    <%= comment.user.email%>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>

  <%= button_to "Delete comment", comment, :method => 'delete' %>
<% end %>

<h3>Add a comment: </h3>
<%= form_with model: [@recipe, @recipe.comments.build] do |form| %>
  <p>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
