<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'All recipes', recipes_path %>

  <% if @current_user.present? %>
    <% if @current_user.admin? %>
      <%= link_to "All users", users_path %>
    <% end %>
    <%= link_to "Logout #{ @current_user.email }" , login_path, :method => 'delete' %>
    <%= link_to "New List", new_list_path %>
    <%= link_to "Your profile", user_path(@current_user.id) %>
  <% else %>
    <%= link_to 'Sign up', new_user_path %>
    <%= link_to 'Login', login_path %>
  <% end %>

  <%= form_tag(search_page_path, :method => 'get', class: 'navbar-form navbar-left') do %>
    <div class="input-group">
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
      <div class="input-group-btn">
        <%= button_tag "Search recipes", :class => 'btn btn-info glyphicon glyphicon-search', :name => 'nil' %>
      </div>
    </div>
  <% end %>
</nav>
